In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
nfl_data = pd.read_csv("../input/nflplaybyplay2009to2016/NFL Play by Play 2009-2017 (v4).csv")

np.random.seed(0)
#setting seed for reproducibility

In [ ]:
nfl_data.head()

In [ ]:
missing_values_count = nfl_data.isnull().sum()
missing_values_count

In [ ]:
missing_values_count[0:10]

In [ ]:
nfl_data[1:2]

In [ ]:
nfl_data.isnull().sum()

In [ ]:
total_cells = np.product(nfl_data.shape)
total_missing = missing_values_count.sum()

In [ ]:
total_missing=missing_values_count.sum()

In [ ]:
# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

In [ ]:
nfl_data.dropna()

In [ ]:
# remove all columns with at least one missing value
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

In [ ]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

In [ ]:
# get a small subset of the NFL dataset
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()
subset_nfl_data

In [ ]:
# replace all NA's with 0
subset_nfl_data.fillna(0)

In [ ]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
subset_nfl_data.fillna(method='bfill', axis=0).fillna(0)

In [ ]:
# generating some numbers use np.arange

In [ ]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats #BOX_COX transformation
from mlxtend.preprocessing import minmax_scaling
np.random.seed(0)

In [ ]:
a=list(np.arange(1,100))

In [ ]:
a

In [ ]:
b = np.random.exponential(size=1000)
b

In [ ]:
#generating 1000 data points randomly

data = np.random.exponential(size=1000)

#min_max between 0 and 1 
scaled_data = minmax_scaling(data , columns=[0])

#plotting both together to compare

fig , ax = plt.subplots(1,2)

sns.distplot(data,ax=ax[0])
ax[0].set_title("Original Data")
sns.distplot(scaled_data, ax=ax[1])
ax[1].set_title("Scaled data")

In [ ]:
normal = stats.boxcox(data)

In [ ]:
# plot both together to compare
fig, ax=plt.subplots(1,2)
sns.distplot(data, ax=ax[0])
ax[0].set_title("Original Data")
sns.distplot(normal[0], ax=ax[1])
ax[1].set_title("Normalized data")

In [ ]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import pandas as pd


landslides_data = pd.read_csv('../input/landslide-events/catalog.csv')
landslides_data.head()

In [ ]:
landslides_data['date']

In [ ]:
np.random.seed(0)

In [ ]:
landslides_data['Dates']= pd.to_datetime(landslides_data['date'] , format = '%m/%d/%y')
landslides_data=landslides_data.drop('date',axis=1)
landslides_data.head()

In [ ]:
months=landslides_data['Dates'].dt.month

In [ ]:
months = months.dropna()

In [ ]:
sns.distplot(months , kde=False , bins=31 )

In [ ]:
import pandas as pd
import numpy as np
import chardet #character encoding module
np.random.seed(0)

In [ ]:
before = "This is the euro symbol: €"
type(before)

In [ ]:
after = before.encode('utf-8' , errors='replace')
type(after)

In [ ]:
after

In [ ]:
print(after.decode('utf-8'))

In [ ]:
print(after.decode('ascii'))

In [ ]:
before = "This is the euro symbol: €"
after = before.encode("ascii", errors = "replace")

print(after.decode("ascii"))
#lost our original form
#This is bad and we want to avoid doing it! It's far better to convert all our text to UTF-8 as soon as we can and keep it in that encoding.

In [ ]:
# try to read in a file not in UTF-8
kickstarter_2016 = pd.read_csv("../input/kickstarter-projects/ks-projects-201612.csv")

In [ ]:
with open('../input/kickstarter-projects/ks-projects-201612.csv','rb') as rawdata:
    result = chardet.detect(rawdata.read(20000))
print(result)

In [ ]:
# read in the file with the encoding detected by chardet
kickstarter_2016 = pd.read_csv("../input/kickstarter-projects/ks-projects-201612.csv", encoding='Windows-1252')

# look at the first few lines
kickstarter_2016.head()

In [ ]:
# save our file (will be saved as UTF-8 by default!)
kickstarter_2016.to_csv("ks-projects-201801-utf8.csv")

In [2]:
import pandas as pd
import numpy as np
import chardet
import fuzzywuzzy
from fuzzywuzzy import process
np.random.seed(0)
professors = pd.read_csv('../input/pakistan-intellectual-capital/pakistan_intellectual_capital.csv')

In [3]:
professors.head()

,Unnamed: 0,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
0,2,3,Dr. Abdul Basit,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,Software Engineering & DBMS,NaN
1,4,5,Dr. Waheed Noor,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,DBMS,NaN
2,5,6,Dr. Junaid Baber,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"Information processing, Multimedia mining",NaN
3,6,7,Dr. Maheen Bakhtyar,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"NLP, Information Retrieval, Question Answering...",NaN
4,24,25,Samina Azim,Sardar Bahadur Khan Women's University,Computer Science,Balochistan,Lecturer,BS,Balochistan University of Information Technolo...,Pakistan,2005.0,VLSI Electronics DLD Database,NaN

In [8]:
countries=professors['Country'].unique()
countries.sort()
countries

array([' Germany', ' New Zealand', ' Sweden', ' USA', 'Australia',
       'Austria', 'Canada', 'China', 'Finland', 'France', 'Greece',
       'HongKong', 'Ireland', 'Italy', 'Japan', 'Macau', 'Malaysia',
       'Mauritius', 'Netherland', 'New Zealand', 'Norway', 'Pakistan',
       'Portugal', 'Russian Federation', 'Saudi Arabia', 'Scotland',
       'Singapore', 'South Korea', 'SouthKorea', 'Spain', 'Sweden',
       'Thailand', 'Turkey', 'UK', 'USA', 'USofA', 'Urbana', 'germany'],
      dtype=object)

In [10]:
professors['Country']=professors['Country'].str.lower()

In [11]:
#removing tailing whitespaces
professors['Country']=professors['Country'].str.strip()

In [16]:
countries = professors['Country'].unique()
countries.sort()
countries
#southkorea and south korea inconsistency

array(['australia', 'austria', 'canada', 'china', 'finland', 'france',
       'germany', 'greece', 'hongkong', 'ireland', 'italy', 'japan',
       'macau', 'malaysia', 'mauritius', 'netherland', 'new zealand',
       'norway', 'pakistan', 'portugal', 'russian federation',
       'saudi arabia', 'scotland', 'singapore', 'south korea',
       'southkorea', 'spain', 'sweden', 'thailand', 'turkey', 'uk',
       'urbana', 'usa', 'usofa'], dtype=object)

In [17]:
professors['Country'].nunique()

34

In [18]:
# get the top 10 closest matches to "south korea"
matches = fuzzywuzzy.process.extract('south korea' , countries , limit=10 , scorer=fuzzywuzzy.fuzz.token_sort_ratio)

matches

[('south korea', 100),
 ('southkorea', 48),
 ('saudi arabia', 43),
 ('norway', 35),
 ('austria', 33),
 ('ireland', 33),
 ('pakistan', 32),
 ('portugal', 32),
 ('scotland', 32),
 ('australia', 30)]

In [19]:
# function to replace rows in the provided column of the provided dataframe
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")

In [20]:
# use the function we just wrote to replace close matches to "south korea" with "south korea"
replace_matches_in_column(df=professors, column='Country', string_to_match="south korea")

All done!

In [21]:
# get all the unique values in the 'Country' column
countries = professors['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
countries

array(['australia', 'austria', 'canada', 'china', 'finland', 'france',
       'germany', 'greece', 'hongkong', 'ireland', 'italy', 'japan',
       'macau', 'malaysia', 'mauritius', 'netherland', 'new zealand',
       'norway', 'pakistan', 'portugal', 'russian federation',
       'saudi arabia', 'scotland', 'singapore', 'south korea', 'spain',
       'sweden', 'thailand', 'turkey', 'uk', 'urbana', 'usa', 'usofa'],
      dtype=object)

In [ ]:
professors['Country'].nunique()